/**
 * @file
 * Styling for custom code on IT Services website.
 */

/* Big Brother Status */

#bbstatus {
  /*border-bottom: 1px solid #444;*/
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  font-family: Arial, Helvetica, clean, sans-serif;
  font-size: 11px;
  line-height: normal;
  margin: 0 0 1em;
  padding: 4px 5px;
}

#bbstatus ul {
  margin: 0;
  padding: 0;
}

#bbstatus li {
  list-style-image: none;
  list-style-type: none;
}

.bbstatus-green  { color: #080; }
.bbstatus-yellow { color: #f80; }
.bbstatus-red    { color: #f00; }

#bbstatus a {color: inherit; text-decoration: underline; }

.bb-green  { color: #080; }
.bb-yellow { color: #f80; }
.bb-red    { color: #f00; }
.bb-blue   { color: #00f; }
.bb-purple { color: #808; }

/* Server Database Status Report Overrides */

.field-name-server-status-report pre {
  font-size: 11px;
}

/* VLAN Matrix */

.vlan-matrix thead, .vlan-matrix tbody {
    font-size: 11px;
}
