/**
 * @file
 * Styling for IT Services website.
 */

/* Parent theme overrides */

#breadcrumb { display: block; }

.node .submitted {
  font-size: 0.625em;
  font-style: inherit;
  text-transform: uppercase;
}

@media only screen and (min-width: 800px) {
  .header-container,
  ul#main-menu,
  #section-main,
  #section-billboard,
  .region-fatfooter,
  .region-footer {
    max-width: 1600px;
    width: 92%;
  }
}

/* Views */

.view-proxy-services thead, .view-proxy-services tbody {
    font-size: 11px;
}

.private-Yes strong {
  background: url(/sites/all/modules/contrib/private/icon_key.gif) no-repeat 0 0;
  padding-left: 20px;
}

/* Blocks */

#block-block-3 {
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  margin: 0.75em 0;
}

#block-block-3 > .content {
  font-size: 0.833em; /* 11.662px */
  line-height: 1.3em;
  padding: 1em;
}

/* Nodes and fields */

.node-private {
  border-top: 3px solid gold;
}

/* User Profile */

.profile .user-picture {
  /* Make this not annoying for now. Use hook_user_view() to make it right. */
  float: none;
  margin: 0;
}
